obj
bin
*.bak
.vs
.fake
packages
paket-files
*.dll
*.user
\.DS_Store

\.ionide/
build_output/
.idea/

1-assembly-types.json

2-bound-model.json

3-optimized-bound-model.json

4-expanded-bound-model.json
